
/*==背景==*/
body{
    background-color: black;
    background-image: url(images/pinatu.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
}
/*==フッター==*/
.logo{
    width: 10%;
    height: 10%;
    float: left;
    padding-left: 2vw;
}
.header1 li{     /*フッター全体*/
    float: left;
    display: inline-flex;
    text-decoration:none;
    color: rgb(128, 128, 128);
    font-size: 1.8vw;
    padding-top: 1%;
    font-family: dnp-shuei-mincho-pr6, sans-serif;
    font-weight: 500;
}
.marukitoha{
    color: rgb(128, 128, 128);
    margin-left: 1vw;
    text-decoration:none;
    writing-mode:vertical-lr;
    -ms-writing-mode: tb-rl
}
.marukitoha:hover{     /*アニメーション*/
    color: rgb(67, 94, 17);
}
.kodawari{
    color: rgb(128, 128, 128);
    margin-left: 1vw;
    text-decoration:none;
    writing-mode:vertical-lr;
    -ms-writing-mode: tb-rl
}
.kodawari:hover{     /*アニメーション*/
    color: rgb(67, 94, 17);
}
.syouhin{
    color: rgb(128, 128, 128);
    margin-left: 1vw;
    text-decoration:none;
    margin-bottom: 3.5vw;
    writing-mode:vertical-lr;
    -ms-writing-mode: tb-rl
}
.syouhin:hover{     /*アニメーション*/
    color: rgb(67, 94, 17);
}
.tennpo{
    color: rgb(128, 128, 128);
    text-decoration:none;
    margin-bottom: 3.5vw;
    writing-mode:vertical-lr;
    -ms-writing-mode: tb-rl
}
.tennpo:hover{     /*アニメーション*/
    color: rgb(67, 94, 17);
}
.tel{
    display: inline-block;
    margin-left: 66%;
    margin-bottom: 2vw;
    width: 5%;
    height: 5%;
}
.tel:hover{     /*アニメーション*/
    filter: brightness(50%);
}
.mail{
    display: inline-block;
    margin-bottom: 2vw;
    width: 5%;
    height: 5%;
    }
.mail:hover{     /*アニメーション*/
    filter: brightness(50%);
}
/*==スライダーのためのcss==*/
.slider {
    position:relative;
    top: -2vw;/*上からの位置*/
}

.slider-item01 {     /*背景画像設定*/
    background:url(images/momen.png); 
    background-size: 57vw 47vw;    
    margin-top: -2vw;                         
}

.slider-item02 {     /*背景画像設定*/
    background:url(images/kinu.png);
    background-size: 47vw 62vw;       
    margin-top: -2vw;                 
}

.slider-item03 {     /*背景画像設定*/
    background:url(images/aburaage.png);
    background-size: 55vw 45vw;     
    margin-top: -6vw;                 
}

.slider-item {
    margin-right: 20vw;
    width: 50vw;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height:50vw;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    background-repeat: no-repeat;/*背景画像をリピートしない*/
    background-position:45%;
}
/*==pagetopのためのcss==*/
#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	background:#942D2F;
	border-radius: 5px;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
	transition:all 0.3s;
}

#page-top a:hover{
	background: #777;
}

#page-top {    /*リンクを右下に固定*/
	position: fixed;
	right: 1vw;
	bottom:1vw;
	z-index: 2;
	opacity: 0;     /*はじめは非表示*/
	transform: translateX(100px);
}

#page-top.LeftMove{    /*左の動き*/
	animation: LeftAnime 0.5s forwards;
}

@keyframes LeftAnime{
  from {
    opacity: 0;
	transform: translateX(100px);
  }
  to {
    opacity: 1;
	transform: translateX(0);
  }
}

#page-top.RightMove{     /*右の動き*/
	animation: RightAnime 0.5s forwards;
}
@keyframes RightAnime{
  from {
  	opacity: 1;
	transform: translateX(0);
  }
  to {
  	opacity: 1;
	transform: translateX(100px);
  }
}
/*==豆からー...text==*/
.text-1{
    font-family: dnp-shuei-mincho-pr6, sans-serif;
    position:absolute;
    top: 10vw;
    right: 12vw;
    font-size: 2vw;
    color: rgb(178, 178, 178);
    display:flex;
    writing-mode:vertical-lr;
    -ms-writing-mode: tb-rl
    
    
}
.text-2{
    font-family: dnp-shuei-mincho-pr6, sans-serif;
    position:absolute;
    top: 13vw;
    right: 15vw;
    font-size: 2vw;
    color: rgb(178, 178, 178);
    display:flex;
    writing-mode:vertical-lr;
    -ms-writing-mode: tb-rl
}
/*==丸きとは==*/
.marukitoha2{
    padding-top: 4vw;
    padding-right: 2vw;
    height: 38vw;
    width: 73vw;
}
.marukitoh{
    display:flex;
    padding-left: 3vw;
    padding-top: 4vw;
    width: 10vw;
    height: 22vw;
}
/*==こだわり==*/
.kodawari1{
    position:absolute;
    display:flex;
    padding-left: 9vw;
    padding-top: 11.5vw;
    width: 20vw;
    height: 29vw;
    
}
.kodawari2{
    padding-top: 8vw;
    padding-left: 16vw;
    height: 40vw;
    width: 85vw;
}
.kodawari3{
    padding-left: 16vw;
    margin-left: 3vw;
    height: 32vw;
    width: 85vw;
}

/*==商品==*/
.syouhin2{
    z-index:8px;
    height: 65vw;
    width: 82vw;
    margin: 4vw 0vw 0vw 5vw; 
    padding: 0vw 0vw 0vw 0vw;
}
.index2{
    color: #000000;
    position: absolute;
    z-index: 10px;
    font-family: dnp-shuei-mincho-pr6, sans-serif;
    font-size: 2vw;
    border: solid 0.1vw #000000;
    width: 12vw;
    padding: 0.2vw 0vw 0.2vw 1.3vw;
    line-height: 3vw;
    margin:40.2vw 0vw 0vw -48vw ;
 }



.index2:hover{
    color: white;
    background-color: #000000;
}

/* .more-sen{
    position: absolute;
    z-index: 9px;
    width: 1vw;
    height: 1vw;
    border: 0.1vw solid;
    border-color: #1a1a1a #1a1a1a transparent transparent;
    transform: rotate(45deg);
    margin: -27vw 0vw 0vw 50vw;
    padding: 0vw 0vw 0vw 0vw;

} */


/*==店舗==*/
.tenpo{
    color: rgb(178, 178, 178);
    width: 7vw;
    height: 16vw;
    margin-left: 11vw;
    padding-top: 3.3vw;
}
.tenpozyouhou{
    position:absolute;
    width:42vw;
    height:55vw;
    padding-left: 1vw;
}

.map{
    position: absolute;
    margin: 29vw 0vw 0vw 13.5vw;
    width: 50vw;
    height: 25vw;
}

/*==電話・問い合わせ==*/
.telmail{
    width:100%;
    height:100%;
    margin-top: 45vw;
}
.tel3{
    display:flex;
    width: 35%;
    height: 35%;
    margin-top: -9.1vw;
    margin-left: 5vw;
}
.mail2{     
    display:flex;
    width: 50%;
    height: 50%;
    margin-top: -6.1vw;
    margin-left: 50vw;
}
.mail2:hover{     /*アニメーション*/
    filter: brightness(50%);
}
/*==フッター==*/
.aaa{
    color: rgb(178, 178, 178);
    font-size: 2vw;
    padding: 4vw 0vw 0vw 45vw;
    background-color: rgb(54, 54, 54);
    width: 100%;
    height: 8vw;
}
